{% extends 'home.html' %}

{% block head %}

        <title>Criar Conta</title>

{% endblock %}

{% block atalhos %}
    <div>
        <a class="m-3" href='{{ url_for("home")}}'> Fazer Login </a>
        <a class="m-3" href='{{ url_for("home")}}'> Sair </a>
    </div>
{% endblock %}

{% block formulario %}

        <form method="POST">
        {{ formulario.csrf_token }}

            {{ formulario.usuario.label() }}
            {{ formulario.usuario() }}
            
            {{ formulario.email.label() }}
            {{ formulario.email() }}
            
            {{ formulario.senha.label() }}
            {{ formulario.senha() }}

            {{ formulario.confirmacao_senha.label() }}
            {{ formulario.confirmacao_senha() }}
            
            {{ formulario.botao_submit() }}
            
        </form>
{% endblock %}
