<!--Extendi o arquivo base que servirá de base para todas as nossas formataçoes-->
{% extends 'home.html' %}

<!--Esse bloco irá substitui body da pagina base -->
{% block body %} {% include "navbar.html" %}

<div class="container">
  <div class="conteudo">
    {% set pattern = ['grid-row-2', '', ''] %} {% for foto in fotos %}
    <!-- estamos sorteando uma classe "extra", mas também com algumas chances de não aplicar nada (''), para manter equilíbrio visual. -->

    <!-- Quando clicar na foto serei redirecionado para o perfil do autor da foto -->
    <a
      href="{{ url_for('perfil', field=foto.autor.id) }}"
      class="bloco-imagem {{ pattern[loop.index0 % pattern|length] }}"
    >
      <img
        src="{{ url_for('static',filename='fotos_posts/{}'.format(foto.imagem)) }}"
      />
    </a>
    {% endfor%}
  </div>
</div>

{% endblock %}
