<!--Extendi o arquivo base que servirá de base para todas as nossas formataçoes-->
{% extends 'home.html' %}


<!--Esse bloco irá substitui body da pagina base -->
{% block body %}

{% include "navbar.html" %}

<div class="container">
    <div class="conteudo">

    {% for foto in fotos %}

    <!-- Quando clicar na foto serei redirecionado para o perfil do autor da foto -->
    <a href="{{ url_for('perfil', field=foto.autor.id) }}" class="bloco-imagem">
        <img src="{{ url_for('static',filename='fotos_posts/{}'.format(foto.imagem)) }}"/>

    </a>
    {% endfor%}
    </div>
</div>


{% endblock %}