{% extends 'home.html' %} {% block body %} {% include "navbar.html" %} {% if
formulario %}
<div class="container">
  <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
    {{ formulario.csrf_token }}

    <h2>{{ usuario.username.title() }} - Enviar foto</h2>

    <div class="bloco-arquivo">
      <label for="foto" class="botao-arquivo">
        Escolher arquivo {{ formulario.foto(class="input-arquivo", id="foto") }}
      </label>
      <span id="imagem-arquivo" class=""></span>
    </div>

    {{ formulario.botao_submit(class="botao-login") }}
  </form>
  <hr />
</div>
{% else %}
<div class="bloco-add-img">
  <h2>{{ usuario.username.title() }} - Ver Perfil</h2>
</div>
{% endif %}

<!-- Exibe todas as fotos do perfil -->
<div class="conteudo">
  {% set pattern = ['grid-row-2', '', ''] %} {% for foto in usuario.fotos %}
  <div class="bloco-imagem {{ pattern[loop.index0 % pattern|length] }}">
    {% set link_foto = url_for("excluir_foto", field=foto.id) %} {% if
    current_user.is_authenticated and current_user.id == usuario.id %}

    <div class="acoes-img">
      <a href="{{ url_for('ver_foto', id=foto.id) }}" class="btn-ver">Ver</a>

      <a
        href="#"
        class="btn-excluir"
        onclick='confirmarExclusao("{{ link_foto }}"); return false;'
        >Excluir</a
      >
    </div>
    {% endif %}
    <img
      src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"
    />
  </div>
  {% endfor %}
</div>

<!-- Modal de confirmação -->
<div id="modal-confirmacao" class="modal" style="display: none">
  <div class="modal-conteudo">
    <p>Tem certeza que deseja excluir esta imagem?</p>
    <form id="form-exclusao" method="POST" action="">
      <button type="submit" class="btn-confirmar">Sim, excluir</button>
      <button type="button" class="btn-cancelar" onclick="fecharModal()">
        Cancelar
      </button>
    </form>
  </div>
</div>

<!-- Scripts -->
<script>
  let input = document.getElementById("foto");
  let imagemArquivo = document.getElementById("imagem-arquivo");

  if (input) {
    input.addEventListener("change", () => {
      let inputImagem = document.querySelector("input[type=file]").files[0];
      imagemArquivo.classList.add("visivel");
      imagemArquivo.innerText = inputImagem.name;
    });
  }

  function confirmarExclusao(url) {
    console.log(url);
    const modal = document.getElementById("modal-confirmacao");
    const form = document.getElementById("form-exclusao");
    form.action = url;
    modal.style.display = "flex";
  }

  function fecharModal() {
    document.getElementById("modal-confirmacao").style.display = "none";
  }
</script>
{% endblock %}
