<!--Extendi o arquivo base que servirá de base para todas as nossas formataçoes-->
{% extends 'home.html' %}

<!--Esse bloco irá substitui body da pagina base -->
{% block body %}
{% include "navbar.html" %}

<h1>{{ titulo }}</h1>
<p>Pagina do {{ usuario.username.title() }}!</p>

<br>
{% if formulario %}
<form method="POST" enctype="multipart/form-data">
    {{ formulario.csrf_token }}

    {{ formulario.foto() }}
    {{ formulario.botao_submit() }}

</form>
{% endif %}

<!-- Exiba todas as fotos disponiveis no perfil olhado -->

{% for foto in usuario.fotos %}
<!-- forma certa de passar uma formatacao de strings pelo HTML nao use 'fstring' nao funciona -->
<img src="{{ url_for('static',filename='fotos_posts/{}'.format(foto.imagem)) }}" width="250" height="250">

{% endfor%}


{% endblock %}